<h1>Call</h1>
<center>
<div class="row">
<img class="img-responsive" src="http://support.privatewave.com/download/thumbnails/6918528/dialpad.png?version=1&modificationDate=1334922939000&api=v2&effects=drop-shadow">
</div>
</center>