<div id="top" class="jumbotron">
    <div class="container">
        <h1>Welcome to Easy Card!</h1>
        <h2>Easy Card fully digitizes business cards and allow you to carry around with you a mini library of contacts in your mobile devices wherever you go.</h2>
    </div> <!-- /.container -->
</div> <!-- /.jumbotron -->

<h3 id="benefits" class="subhead">Contact Us</h3>
<br><center>
<h3>Bates College<br>2 Andrews Rd<br>Lewiston, ME 04240<br>USA</h3></center><br>

<div class="container">
<form role="form" action="#" method="post" enctype="plain"> 
	<div class="form-group">
		<label for="name1">Your Name</label>
		<input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
	</div>
	<div class="form-group">
		<label for="email1">Email address</label>
		<input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label>Enquiry</label>
			<textarea class="form-control" name="Message" rows="3"></textarea>
		</div>
		<br>
		<button type="submit" class="btn btn-warning btn-lg" href="#">SUBMIT</button>
</form>
</div>
