<h3 id="benefits" class="subhead">Contact Us</h3>
<br><center>
<h3>Bates College<br>2 Andrews Rd<br>Lewiston, ME 04240<br>USA<br></h3>
<h4><span class="glyphicon glyphicon-earphone"> </span> 123-456-7890</h4></center><br><br>

<div class="container">
<form role="form" action="#" method="post" enctype="plain"> 
	<div class="form-group">
		<label for="name1">Name</label>
		<input type="name" name="Name" class="form-control" id="name1" placeholder="Your Name">
	</div>
	<div class="form-group">
		<label for="email1">Email address</label>
		<input type="email" name="Mail" class="form-control" id="email1" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label>Enquiry or comments</label>
			<textarea class="form-control" name="Message" rows="3"></textarea>
		</div>
		<br>
		<button type="submit" class="btn btn-warning btn-lg" href="#">SUBMIT</button>
</form>
</div>
