<h3 id="benefits" class="subhead">Download Easy Card</h3>

<div class="row">
    <div class="col-md-4 col-sm-6 benefit">
    	<center><img class="img-responsive" src="http://www.att.com/wireless/iphone/assets/iphone-4s-devices.jpg"></center>
    	<h3>iPhone</h3>
    	<p><a href="#download">Download for iPhone</a></p>
    </div>
    <div class="col-md-4 col-sm-6 benefit">
    	<center><img class="img-responsive" src="http://www.att.com/shopcms/media/att/2013/shop/wireless/promotions/Galaxy-Mega/img-Galaxy-Mega-1.jpg"></center>
    	<h3>Android</h3>
    	<p><a href="#download">Download for Android</a></p>
    </div>
</div>