<h3 id="benefits" class="subhead">Frequently Asked Questions</h3>

<div class="row">
    <div class="col-md-4 col-sm-6 benefit">
    	<div class="benefit-ball">
            <span class="glyphicon glyphicon-globe"></span>
        </div>
    	<h3>General</h3>
    	<p>Blah blah blah...</p>
    </div>
    <div class="col-md-4 col-sm-6 benefit">
    	<div class="benefit-ball">
            <span class="glyphicon glyphicon-phone"></span>
        </div>
    	<h3>iPhone</h3>
    	<p>Blah blah blah...</p>
    </div>
    <div class="col-md-4 col-sm-6 benefit">
    	<div class="benefit-ball">
            <span class="glyphicon glyphicon-phone"></span>
        </div>
    	<h3>Android</h3>
    	<p>Blah blah blah...</p>
    </div>
    <div class="col-md-4 col-sm-6 benefit">
    	<div class="benefit-ball">
            <i class="fa fa-4x fa-cog fa-spin"></i>
        </div>
    	<h3>Technical Issues</h3>
    	<p>Blah blah blah...</p>
    </div>
</div>