<div id="top" class="jumbotron">
    <div class="container">
        <h1>Welcome to Easy Card!</h1>
        <h2>Easy Card fully digitizes business cards and allow you to carry around with you a mini library of contacts in your mobile devices wherever you go.</h2>
    </div> <!-- /.container -->
</div> <!-- /.jumbotron -->

<h3 id="benefits" class="subhead">Frequently Asked Questions</h3>

<div class="row">
    <div class="col-md-4 col-sm-6 benefit">
    	<div class="benefit-ball">
            <span class="glyphicon glyphicon-globe"></span>
        </div>
    	<h3>General</h3>
    	<p>Blah blah blah...</p>
    </div>
    <div class="col-md-4 col-sm-6 benefit">
    	<div class="benefit-ball">
            <span class="glyphicon glyphicon-phone"></span>
        </div>
    	<h3>iPhone</h3>
    	<p>Blah blah blah...</p>
    </div>
    <div class="col-md-4 col-sm-6 benefit">
    	<div class="benefit-ball">
            <span class="glyphicon glyphicon-phone"></span>
        </div>
    	<h3>Android</h3>
    	<p>Blah blah blah...</p>
    </div>
    <div class="col-md-4 col-sm-6 benefit">
    	<div class="benefit-ball">
            <span class="glyphicon glyphicon-cog"></span>
        </div>
    	<h3>Technical Issues</h3>
    	<p>Blah blah blah...</p>
    </div>
</div>