<center>
<h1>Hello there!</h1>
	<h2>Welcome to Easy Card!</h2>

	<img class="img-responsive" src="http://manofdepravity.com/wp-content/uploads/2010/02/Shaking-Hands3.jpg"><br>
	<p><b>Easy Card</b> is a mobile application catering for both <i>iOS</i> and <i>Android</i>.</p>
	<p>Carrying business cards in paper form can be such a hassle! Not only that you have to deal with the extra weight in your handbag or wallet, but the time you spent on organizing these cards can be so frustrating.</p>
	<p>This is why <b>Easy Card</b> becomes so useful. It will make your life easier by fully digitizing business cards, allowing more efficient <i>storage</i>, <i>management</i> and <i>transfer</i> of business contacts.</p>
	<p>Get <b>Easy Card</b>! You will be able to carry with you this mini library of business cards in your phone wherever you go. Doesn't that make your life so much easier?</p>
	<p>
    <a class="btn btn-primary btn-lg" role="button" href="/contacts">Let's get started!</a>
  </p>
</center>