<h1>My Profile</h1>
**Under construction... This is suppose to display the user's profile. However this is built on a website instead of a phone, so I'll need to include the sign in stuff.
<br><br>
<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr>
				<td rowspan="3"><img class="img-responsive" src="http://bscpevsa.web44.net/profiles/empty.jpg" width="100px"></td>
				<th>Name</th>
				<td>Tze</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><a href="/call">123-456-7890</a></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><a href="mailto:tchong@bates.edu">tchong@bates.edu</a></td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<h2>Business Card</h2>
<br>
<center>
<div class="card">
		<h3>Bates College</h3><br>
		<h4>Tze Huey Chong</h4><br>
		<h5>Student</h5><br>
		<a href="/call">123-456-7890</a><br>
		<a href="mailto:tchong@bates.edu">tchong@bates.edu</a>
</div>
<br>
<a class="btn btn-primary btn-lg" role="button" href="/transfer"><span class="glyphicon glyphicon-transfer"></span> Send</a> 
<a class="btn btn-danger btn-lg" role="button" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
</center>