<h1>Contact Info</h1>
<br><br>
<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr>
				<td rowspan="3"><img class="img-responsive" src="http://www.mitais.com/images/global/empty_profile.jpg" width="100px"></td>
				<th>Name</th>
				<td>Amanda Watson</td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><a href="#">123-456-7890</a></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><a href="mailto:awatson@bates.edu">awatson@bates.edu</a></td>
			</tr>
			<tr colspan="3">
				<td>
				<a class="btn btn-primary btn-lg" role="button" href="#"><span class="glyphicon glyphicon-star"></span></a> 
				<a class="btn btn-danger btn-lg" role="button" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
				</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<br>
<h2>Business Card</h2>
<br>
<center>
<div class="card">
		<h3>Bates College</h3><br>
		<h4>Amanda Watson</h4><br>
		<h5>Admissions Officer</h5><br>
		<a href="#">123-456-7890</a><br>
		<a href="mailto:awatson@bates.edu">awatson@bates.edu</a>
</div>
</center>
<br>
<h2>Notes</h2>
<p>Met her at a career fair.
</p><br>
<%= link_to "Back", prototype_path %>
